@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
body, html{
  overflow-x: hidden;
}
.primary{
  background-color: #161c51;
  color: white;
  padding: 5px 20px;
  border: none;
}